<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.scriptreservation.dao.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.script.scriptreservation.po.Comments">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="script_id" jdbcType="VARCHAR" property="scriptId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
    <select id="personalComments" resultType="com.script.scriptreservation.vo.CommentsVo" parameterType="string">
      SELECT
        s.script_name AS scriptName,
        c.content AS comments,
        c.script_id AS scriptId,
        c.time AS commentsTime
      FROM
        comments c
          LEFT JOIN script s ON c.script_id = s.id
      WHERE
        c.user_id = #{id}
    </select>
    <select id="scriptComments" resultType="com.script.scriptreservation.po.Comments" parameterType="com.script.scriptreservation.vo.LimitPageVo">
      SELECT
        *
      FROM
        comments
      WHERE
        script_id = #{filed}
        LIMIT #{pageCount},#{len};
    </select>
  <select id="commentsCount" resultType="java.lang.Integer" parameterType="string">
    SELECT
      count(1)
    FROM
      comments
    WHERE
      script_id = #{scriptId}
  </select>
</mapper>