<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.scriptreservation.dao.HostMapper">
  <resultMap id="BaseResultMap" type="com.script.scriptreservation.po.Host">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="host_category_like" jdbcType="VARCHAR" property="hostCategoryLike" />
    <result column="host_introduce" jdbcType="VARCHAR" property="hostIntroduce" />
    <result column="host_image" jdbcType="VARCHAR" property="hostImage" />
  </resultMap>
    <select id="selectFreeHost" resultMap="BaseResultMap" parameterType="long">
      SELECT
        *
      FROM
        `host`
      WHERE
          id NOT IN (
          SELECT
            host_id
          FROM
            room
          WHERE
            1 = 1
            AND start_time = #{time})
    </select>
</mapper>