<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.scriptreservation.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.script.scriptreservation.po.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="script_id" jdbcType="VARCHAR" property="scriptId" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="order_flag" jdbcType="INTEGER" property="orderFlag" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="forward_num" jdbcType="INTEGER" property="forwardNum" />
    <result column="forward_date" jdbcType="VARCHAR" property="forwardDate" />
    <result column="order_money" jdbcType="INTEGER" property="orderMoney" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="refund_time" jdbcType="VARCHAR" property="refundTime" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  </resultMap>
    <insert id="createOrder" parameterType="com.script.scriptreservation.po.Order">
        INSERT INTO `order` ( id, user_id, script_id, room_id, order_flag, order_number, forward_num, forward_date, forward_end_date, order_money, create_time, refund_time, order_status )
        VALUES
        (
            #{id},
            #{userId},
            #{scriptId},
            #{roomId},
            #{orderFlag},
            #{orderNumber},
            #{forwardNum},
            #{forwardDate},
            #{forwardEndDate},
            #{orderMoney},
            #{createTime},
            #{refundTime},
            #{orderStatus}
        )
    </insert>
    <update id="updateOrederStats" parameterType="com.script.scriptreservation.po.Order">
        UPDATE `order`
        SET `order_status` = #{orderStatus}
        WHERE
            id = #{id}
    </update>
    <select id="getNewOrderCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            `order` o
                LEFT JOIN script s ON s.id = o.script_id
        WHERE
            o.user_id = #{filed}
          AND o.forward_date > #{timeCurrent}
    </select>
    <select id="newHistoryOrder" resultType="com.script.scriptreservation.vo.OrderScriptVo">
      SELECT
          s.script_name AS scriptName,
          o.create_time AS orderCreateTime,
          o.room_id AS roomId,
          o.order_status AS orderStatus,
          o.refund_time AS refundTime,
          o.forward_num AS orderNumber,
          o.order_number AS orderNumId,
          o.order_flag AS orderFlag,
          o.script_id AS scriptId,
          o.forward_date AS forwardDate,
          o.forward_end_date AS forwardEndDate,
          o.order_money AS orderMoney
      FROM
          `order` o
              LEFT JOIN script s ON s.id = o.script_id
      WHERE
          o.user_id = #{filed}
        AND o.forward_date > #{timeCurrent}
      ORDER BY
          o.create_time DESC
          LIMIT #{i},#{len}
  </select>
  <select id="historyOrder" resultType="com.script.scriptreservation.vo.OrderScriptVo">
      SELECT
      s.script_name AS scriptName,
      o.create_time AS orderCreateTime,
      o.order_status AS orderStatus,
      o.refund_time AS refundTime,
      o.forward_num AS orderNumber,
      o.room_id AS roomId,
      o.order_number AS orderNumId,
      o.order_flag AS orderFlag,
      o.script_id AS scriptId,
      o.forward_date AS forwardDate,
      o.forward_end_date AS forwardEndDate,
      o.order_money AS orderMoney
      FROM
      `order` o
      LEFT JOIN script s ON s.id = o.script_id
      WHERE
      o.user_id = #{filed}
      AND o.forward_date &lt; #{timeCurrent}
      ORDER BY
      o.create_time DESC
      LIMIT #{i},#{len}
    </select>
    <select id="getOrderCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            `order` o
                LEFT JOIN script s ON s.id = o.script_id
        WHERE
            o.user_id = #{filed}
          AND o.forward_date &lt; #{timeCurrent}
    </select>

</mapper>