<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.scriptreservation.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.script.scriptreservation.po.Record">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="script_id" jdbcType="VARCHAR" property="scriptId" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>

  <select id="lookRecord" parameterType="com.script.scriptreservation.vo.LimitPageVo" resultType="com.script.scriptreservation.vo.ScriptRecord">
    SELECT
      s.script_name AS scriptName,
      r.time AS recordTime,
      r.script_id AS scriptId
    FROM
      record r
        LEFT JOIN script s ON r.script_id = s.id
    WHERE
      r.user_id = #{filed}
      LIMIT #{pageCount},#{len}
  </select>
  <select id="lookRecord1" parameterType="com.script.scriptreservation.vo.LimitPageVo" resultType="com.script.scriptreservation.vo.ScriptRecord">
    SELECT
      s.script_name AS scriptName,
      r.time AS recordTime,
      r.script_id AS scriptId
    FROM
      record r
        LEFT JOIN script s ON r.script_id = s.id
    WHERE
      r.user_id = #{filed}
  </select>
</mapper>