<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.scriptreservation.dao.ScriptMapper">
  <resultMap id="BaseResultMap" type="com.script.scriptreservation.po.Script">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="script_name" jdbcType="VARCHAR" property="scriptName" />
    <result column="script_context" jdbcType="VARCHAR" property="scriptContext" />
    <result column="look_number" jdbcType="INTEGER" property="lookNumber" />
    <result column="reply_number" jdbcType="INTEGER" property="replyNumber" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="photo_adress" jdbcType="VARCHAR" property="photoAdress" />
    <result column="person_number" jdbcType="INTEGER" property="personNumber" />
    <result column="game_time" jdbcType="VARCHAR" property="gameTime" />
    <result column="lable" jdbcType="VARCHAR" property="lable" />
    <result column="salenum" jdbcType="INTEGER" property="salenum" />
    <result column="script_money" jdbcType="INTEGER" property="scriptMoney" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="great_num" jdbcType="VARCHAR" property="greatNum" />
    <result column="step_num" jdbcType="VARCHAR" property="stepNum" />
    <result column="script_sun_point" jdbcType="VARCHAR" property="scriptSunPoint" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <insert id="scriptCollection" parameterType="com.script.scriptreservation.dto.ScriptCollectionDto">
    INSERT INTO collection ( id, user_id, script_id, collection_time )
    VALUES
    (
      #{collectionId},
      #{userId},
      #{scriptId},
      #{collectionTime}
    )
  </insert>


    <update id="greatNumPlus" parameterType="string">
    UPDATE `script`
    SET great_num = great_num + 1
    WHERE
      id = #{id}
  </update>

  <update id="stepNum" parameterType="string">
    UPDATE `script`
    SET step_num = step_num + 1
    WHERE
      id = #{id}
  </update>

<!--  剧本浏览量加一-->
  <update id="updateRecordPlus" parameterType="string">
    update script set look_number=look_number+1 where id=#{scriptId};
  </update>

  <select id="serachScript" resultMap="BaseResultMap" parameterType="com.script.scriptreservation.vo.LimitPageVo">
    SELECT *
    FROM script
    WHERE 1 = 1
    <if test="categoryId != null and categoryId !='' ">
      and category_id=#{categoryId}
    </if>
    <if test="filed != null and filed !='' ">
      and script_name like #{likeFiled}
    </if>
    Order By pay_time Desc
    LIMIT #{pageCount},#{len};
  </select>
  <select id="serachScriptCount" resultType="java.lang.Integer" parameterType="com.script.scriptreservation.vo.LimitPageVo">
    SELECT count(1)
    FROM script
    WHERE 1 = 1
    <if test="categoryId != null and categoryId !='' ">
      and category_id=#{categoryId}
    </if>
    <if test="filed != null and filed !='' ">
      and script_name like #{likeFiled}
    </if>
    Order By pay_time Desc
    LIMIT #{pageCount},#{len};
  </select>
    <select id="getIndexScript" resultMap="BaseResultMap" parameterType="com.script.scriptreservation.vo.LimitPageVo">
      SELECT
        *
      FROM
        script
      WHERE
        1 = 1
      <if test="filed != null and filed !='' ">
         AND category_id = #{filed}
      </if>
      ORDER BY
        pay_time DESC
        LIMIT #{pageCount},#{len}
    </select>
  <select id="getIndexScriptCount" resultType="java.lang.Integer" parameterType="com.script.scriptreservation.vo.LimitPageVo">
    SELECT
      COUNT( 1 )
    FROM
      script
    WHERE
      category_id = #{filed}
  </select>
    <select id="getScriptCount" resultType="java.lang.Integer" parameterType="string">
      SELECT
        COUNT( 1 )
      FROM
        scriptArticle
      WHERE
        script_id = #{scriptId}
    </select>
  <select id="getScriptGoodCount" resultType="java.lang.Integer" parameterType="string">
      SELECT
        COUNT( 1 )
      FROM
        scriptArticle
      WHERE
        script_id = #{scriptId}
        AND `status` = 0
    </select>
  <select id="getScriptPoorCount" resultType="java.lang.Integer" parameterType="string">
      SELECT
        COUNT( 1 )
      FROM
        scriptArticle
      WHERE
        script_id = #{scriptId}
        AND `status` = 1
    </select>



</mapper>